.home {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;

    .home-animations {
        height: min-content;
        margin: auto;
        display: grid;
        grid-template-areas:
        "compass"
        "links"
        "social-media";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        text-align: center;
    }

    .september-calls {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: -1;
    }

    .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: black;
        opacity: 0;
        .animation(showBGOverlay 0.8s forwards @contentAnimationDelay;);
        z-index: -1;
    }
}

/******Links*******/
.social-media {
    grid-area: social-media;
    opacity: 0;
    .animation(fadeIn 0.8s forwards @contentAnimationDelay;);

    a {
        text-decoration: none;
        color: @color;
        padding: 5px;
    }
}

.links {
    grid-area: links;
    .noSelect;
    font-family: @fontDefault;
    list-style: none;
    font-size: 2em;
    width: 60vw;
    margin: auto;
    padding: 0;
    text-align: center;
    opacity: 0;
    .animation(fadeIn 0.8s forwards @contentAnimationDelay;);

    li {
        display: inline;
        cursor: pointer;
        padding: 10px;
    }

    a {
        text-decoration: none;
        color: @color;
    }
}

/***********Animations & BG**************/

// @totalCompassLength: 633.35693359375;
@totalCompassLength: 659.07666015625;
@compassTickCount: 17;

.compass {
    grid-area: compass;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    svg {
        circle {
            stroke: @color;
            fill: transparent;
        }

        text {
            stroke: @color;
            fill: @color;
            opacity: 1;
            .animation(fadeIn 4.1s forwards;);
        }
    }
}

#compass {
    stroke-dasharray: @totalCompassLength;
    transform-origin: center;
    transform: rotate(-90deg);
    .animation(draw 2s forwards, fadeOut 0.8 forwards 3s;);

    // .keyframes(fadeCompass; {
	// 	0% { opacity: 0; }
	// 	100% { opacity: 0.05; }
    // });

    // .animation(draw 2s forwards, fadeCompass 0.8 forwards 3s;);
}

#compassTicks {
    transform: rotate(15deg);
    transform-origin: center;
    .animation(fadeIn 0.8s forwards 3s, compassStrokeWidth 0.8s forwards 3s, compassSetTicks 0.8s forwards 3.8s;);
    stroke-dashoffset: 27px;
    stroke-width: 1; //Set to 12 after animation
    stroke: @color;
    opacity: 0;
}

#needle {
    will-change: transform;
    transition: transform 4s ease-out;
    transform-origin: center;
    opacity: 0;
    &.init-complete {
        transition: transform 1s;
    }

    #red-needle { fill: red; }
    #white-needle { fill: @color; }

    // .animation(fadeIn 0.8s forwards 3s, needleSpin 4s forwards 3.8s ease-out;);
    .keyframes(needleFadeIn; {
		0% { opacity: 0; }
		100% { opacity: 0.65; }
    });
    .animation(needleFadeIn 0.8s forwards 3s);
}

.keyframes (@name; @frames) {
	@-webkit-keyframes @name {@frames();}
	@-moz-keyframes @name {@frames();}
	@-ms-keyframes @name {@frames();}
	@-o-keyframes @name {@frames();}
	@keyframes @name {@frames();}
}

.animation(@args) {
    -webkit-animation: @args;
	-moz-animation: @args;
	animation: @args;
}

@keyframes needleSpin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(1113deg)}
}

@keyframes compassStrokeWidth {
    0% {stroke-width: 1px;}
    100% {stroke-width: 12px;}
}

@keyframes compassSetTicks {
    0% {stroke-dasharray: 2, 1;}
    100% {stroke-dasharray: 2, ceil(@totalCompassLength / @compassTickCount);}
}

@keyframes draw {
    0% {stroke-dashoffset: @totalCompassLength;}
    100% {stroke-dashoffset: 0;}
}

@keyframes drawTicks {
    0% {transform: scale(15);}
    100% {transform: scale(1);}
}

@keyframes ripple {
    0% {r: 10%;}
    100% {r: 200%;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes showBGOverlay {
    0% {opacity: 0;}
    100% {opacity: 0.85;}
}